div#content:before {
  content: "";
  display:block;
  background: url(http://www.touratech.com/typo3temp/pics/f7573e027f.jpg);
  width: 796px;
  height: 529px;
  position: absolute;
  opacity: 0.15;
  left: 50%;
  top: 50%;
  margin: -230px 0 0 -398px;
}

.child_of_514869 {
  background-color: rgba(0,0,0,0.1);
}

.child_of_514869 span.add_task{
  display: none !important;
}
